*{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  .container {
    width: 50%;
    height: 200px;
    overflow: hidden;
  }
   
  .container img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  h1 {
    background-color: slategray;
    
    color: white;
    text-align: center;
    padding: 10px 30px;
    margin: 10px 0px;
    
  }

  h2, h3 {
    color: black;
    padding: 10px;
    margin: 10px 0px;
  }
  
  button {
    margin: 20px;
    font-size: auto;
    border: 1px solid darkslategrey;
    
  }

  #mppth2, #textoMpptAdecuado, #textoTodosMpptAdecuado {
    display: none;
  }

  input, select{
    height: auto;
    border: 1px solid darkslategrey;
    width: 150px;
    margin: 5px 0px 10px 0px;
    border-radius: 5px;    
  }

  label {
    display: block;
  }

  .form, .respuesta {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin:20px
  }

  ul, li {
    margin: 5px;
  }

  div{
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
  }

  .resp {
    padding-left: 50px;
  }

  .radio {
    display: inline;
  }

  input[type="radio"] {
    width: auto;
  }

  img {
      max-width: 300px;
      display: block;
  }

  video {
      width: 100%;
      max-width: 600px;
      display: block;
  }
  

